@model List<CommentViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comment List</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nickname</td>
                <td>@item.Content</td>
                <td>
                    <a href="/comment/edit/@item.Id">Düzenle</a> |
                    <a href="/comment/delete/@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>