@model PostViewModel
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddOrEdit</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-controller="Post" method="post" asp-antiforgery="true" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var item in (List<SelectListItem>)ViewBag.Categories)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" type="file" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <textarea asp-for="Tags" class="form-control"></textarea>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input asp-for="IsPublished" class="form-control" type="checkbox" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Content'))
            .catch(error => {
                console.error(error);
            });
    </script>
}

