@model List<PostViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Post List</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>Başlık</th>
            <th>Yayında mı?</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Title</td>
                <td>@(item.IsPublished? "Yayında":"Yayında Değil")</td>
                <td>
                    <a href="/post/detail/@item.Id">Detay</a> |
                    <a href="/post/edit/@item.Id">Düzenle</a> |
                    <a href="/post/delete/@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>