@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
    </div>
    <form class="user" asp-controller="auth" asp-action="login" method="post" asp-antiforgery="true">
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control form-control-user" aria-describedby="emailHelp"
                   placeholder="Enter Email Address...">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" asp-for="RememberMe"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
        </button>
    </form>
    <hr> 
    <div class="text-center">
        <a class="small" href="/auth/register">Create an Account!</a>
    </div>
</div>
